USE [KütüphaneDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4.01.2026 21:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 4.01.2026 21:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Yazar] [nvarchar](100) NOT NULL,
	[ISBN] [nvarchar](max) NOT NULL,
	[ResimUrl] [nvarchar](max) NULL,
	[ToplamKopya] [int] NOT NULL,
	[MevcutKopya] [int] NOT NULL,
	[Kategori] [nvarchar](50) NULL,
	[Ozet] [nvarchar](1000) NULL,
	[OluşturulmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Kitaplar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 4.01.2026 21:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Şifre] [nvarchar](max) NOT NULL,
	[AdminMi] [bit] NOT NULL,
 CONSTRAINT [PK_Kullanıcılar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ÖdünçKayıtları]    Script Date: 4.01.2026 21:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ÖdünçKayıtları](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ÜyeId] [int] NOT NULL,
	[KitapId] [int] NOT NULL,
	[ÖdünçTarihi] [datetime2](7) NOT NULL,
	[SonİadeTarihi] [datetime2](7) NOT NULL,
	[İadeTarihi] [datetime2](7) NULL,
 CONSTRAINT [PK_ÖdünçKayıtları] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Üyeler]    Script Date: 4.01.2026 21:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Üyeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[TelefonNumarası] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[OluşturulmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Üyeler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260104150057_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([Id], [Baslik], [Yazar], [ISBN], [ResimUrl], [ToplamKopya], [MevcutKopya], [Kategori], [Ozet], [OluşturulmaTarihi]) VALUES (1, N'Alex De Souza', N'Marcos Eduardo Neves', N'978-1111111111', N'/images/Alex De Souza.jpg', 4, 4, N'Biyografi', N'Fenerbahçe''nin efsane futbolcusu Alex De Souza''nın hayat hikayesi. Brezilyalı yıldızın Türkiye''deki unutulmaz yılları ve başarıları.', CAST(N'2026-01-04T18:03:25.1413551' AS DateTime2))
INSERT [dbo].[Kitaplar] ([Id], [Baslik], [Yazar], [ISBN], [ResimUrl], [ToplamKopya], [MevcutKopya], [Kategori], [Ozet], [OluşturulmaTarihi]) VALUES (2, N'Cristoph Daum', N'Cristoph Daum', N'978-2222222222', N'/images/Cristoph Daum.jpg', 3, 3, N'Biyografi', N'Alman teknik direktör Christoph Daum''un otobiyografisi. Türk futbolunda bıraktığı izler ve kariyerindeki önemli anlar.', CAST(N'2026-01-04T18:03:25.1414124' AS DateTime2))
INSERT [dbo].[Kitaplar] ([Id], [Baslik], [Yazar], [ISBN], [ResimUrl], [ToplamKopya], [MevcutKopya], [Kategori], [Ozet], [OluşturulmaTarihi]) VALUES (3, N'Görünmez Adam', N'H.G. Wells', N'978-3333333333', N'/images/Görünmez Adam.jpg', 5, 5, N'Bilim Kurgu', N'Bilim insanı Griffin''in görünmezlik formülünü keşfetmesi ve bunun trajik sonuçları. Bilim kurgunun klasik eserlerinden biri.', CAST(N'2026-01-04T18:03:25.1414125' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Üyeler] ON 

INSERT [dbo].[Üyeler] ([Id], [Ad], [Soyad], [TelefonNumarası], [Email], [OluşturulmaTarihi]) VALUES (1, N'Ahmet', N'Yılmaz', N'05551234567', N'ahmet@example.com', CAST(N'2026-01-04T18:03:25.0330805' AS DateTime2))
INSERT [dbo].[Üyeler] ([Id], [Ad], [Soyad], [TelefonNumarası], [Email], [OluşturulmaTarihi]) VALUES (2, N'Fatma', N'Kaya', N'05559876543', N'fatma@example.com', CAST(N'2026-01-04T18:03:25.0344284' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Üyeler] OFF
GO
ALTER TABLE [dbo].[ÖdünçKayıtları]  WITH CHECK ADD  CONSTRAINT [FK_ÖdünçKayıtları_Kitaplar_KitapId] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ÖdünçKayıtları] CHECK CONSTRAINT [FK_ÖdünçKayıtları_Kitaplar_KitapId]
GO
ALTER TABLE [dbo].[ÖdünçKayıtları]  WITH CHECK ADD  CONSTRAINT [FK_ÖdünçKayıtları_Üyeler_ÜyeId] FOREIGN KEY([ÜyeId])
REFERENCES [dbo].[Üyeler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ÖdünçKayıtları] CHECK CONSTRAINT [FK_ÖdünçKayıtları_Üyeler_ÜyeId]
GO
