@{
    ViewData["Title"] = "Kayıt Ol";
}
<div class="container mt-5">
    <h2>Kayıt Ol</h2>
    <form method="post">
    <div class="mb-3">
        <label for="Ad" class="form-label"> Kullannıcı Adı</label>
        <input type="text" class="form-control" id="Ad" name="Ad" required />
       <div class="mb-3">
           <label for="Email" class="form-label">Email</label>
           <input type="email" class="form-control" id="Email" name="Email" required />

       </div>
        
    </div>
    </form>
</div>
